acv-exp==1.1.2
altair==4.2.0
hyperopt==0.2.5
lime==0.2.0.1
matplotlib==3.3.4
matplotlib-inline==0.1.3
numpy==1.22.0
pandas==1.1.2
pyAgrum==0.20.2
pyDOE2==1.3.0
scikit-image==0.18.1
scikit-learn==1.0.2
scikit-posthocs==0.6.7
scipy==1.4.1
seaborn==0.11.1
shap==0.39.0
skranger==0.6.1
tensorboard==2.2.2
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tqdm==4.56.0
typing_extensions==3.7.4.2
xgboost==1.0.0
